@font-face {
    font-family: "Poppins bld";
    src: url(font/Poppins-Bold.ttf);
}
@font-face {
    font-family: "Poppins semi";
    src: url(font/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins reg";
    src: url(font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Casanova";
    src: url(font/Casanova\ Font\ Free.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline-style: none;
}

html, body {
    background-color: #fff;
}

.hero-section {
    background-color: #0f0f0f;
    height: 100vh;
}



.hero-logo {
    position: fixed;
    margin: 30px 2em;
    color: white;
    filter: difference;
    font-size: 20px;
    mix-blend-mode: difference;
    z-index: 2;
    font-size: 25px;
}





/* vrai menu  */

.hidden {
  display: none;
}


.menu-toggle {
  width: 100px;
  padding-top: 30px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
  visibility: visible;
  z-index: 100;
}

.close-btn {
  width: 100px;
  padding-top: 33px;
  position: fixed;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 30px;
  color: white;
  mix-blend-mode: difference;
  visibility: visible;
  z-index: 4;
}

.menu ion-icons {
  font-style: 50px;
  text-align: center;
}

.menuLink {
  width: 100%;
  height: 110vh;
  position: fixed;
  transform: translateY(-105%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0f0f0f;
  color: white;
  font-size: 5em;
  z-index: 3;
}

.menuLink a {
  padding: 20px 0;
  margin: 0 15%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px white;
}

.menuLink a:hover {
  -webkit-text-fill-color: white;
  padding-left: 20px;
  transition: 0.4s;
}

.span_1:hover {
  text-decoration: line-through;
  transition: 0.2s;
}

.msg {
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 0px;
  font-size: 25px;
  opacity: 0;
  font-family: 'Poppins reg';
}

.blog:hover .msg {
  opacity: 1;
  transition: 0.4s;
}

.blog:hover .span_1 {
  text-decoration: line-through;
}

.showMenu {
  transform: translateY(-5%);
  transition: 0.7s;
}

.hero-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  overflow: hidden;
}

.hero-img img {
  width: 100%;
}

  /* MEDIA */
  .media {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1em 2em;
    z-index: 2;
  }
  
  .media ul {
    list-style: none;
  }
  
  .media ul li {
    padding: 10px 0;
  }
  
  .media ul li a {
    color: white;
    font-size: 25px;
    transition: 0.2s ease;
  }


  

 
  /* ABOUT */

.about {
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 10% 0;
}


.about-img img {
    width: 500px;
    box-shadow: -30px -25px 0px 5px #0f0f0f;
}

.about-img img:hover {
  transition: 1s;
  box-shadow: none;
}

.about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 50px 0;
}

.about-text > * {
    padding: 20px;
}

.about-text h2 {
    font-family: 'Poppins bld';
    font-size: 3em;
}

.about-text p {
    font-family: 'Poppins reg';
    font-size: 20px;
    text-align: justify;
}

.button {
    width: 150px;
    font-family: 'Poppins reg';
    font-size: 16px;
    padding: 15px;
    color: #0f0f0f;
    background-color: transparent;
    border: solid 1px #0f0f0f;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* PROJETS */

.projets {
    background-color: #0f0f0f;
    text-align: center;
    color: white;
    padding: 40px 40px;
}

.projet-h2 {
  font-family: 'Poppins bld';
  font-size: 3em;
  text-align: center;
  padding: 30px;
  text-transform: uppercase;
}
  
.portfolio-main-img {
  overflow: hidden;
  max-width: 1700px;
  margin: 80px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.shop-img-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.shop-img {
  object-fit: contain;
  margin: 0 auto;
  width: 100%;
  display: block;
  transition: 0.8s all ease;
}

.shop-img-container img:hover {
  transition: 0.8s all ease;
  transform: scale(1.1);
}
  

/* COMPTE A REBOURS */

#compte_a_rebours {
  color:#fff;
  font-family: 'Poppins reg';
  font-size: 20px;
  position: absolute;
  top: 50px;
  right: 40px;
}



/* Contact */

.contact {
  height: 50vh;
  margin: 0 50px;
  padding-top: 5%;
  padding-bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.title-contact {
  width: 50%;
  font-size: 2em;
  text-align: right;
  font-family: 'Poppins Bld';
}

.text-contact {
  width: 50%;
  overflow-wrap: break-word ;
}

.text-contact > * {
  padding-top: 50px;
}

.text-contact h3 {
  font-family: 'Poppins reg';
  font-size: 1.5em;
  text-decoration: underline;
}

.text-contact p {
  font-family: 'Poppins reg';
  font-size: 18px;
  text-align: justify;
}




/* Pop up */

.pop-up {
  padding: 0 10px;
  width: 100%;
  height: 50px;
  background-color: red;
  border-radius: 7px 7px 0 0;
  position: fixed;
  bottom: -50px;
  display: flex;
  align-items: center;
  transition: 0.5s ease;
}

.pop-up h4 {
  color: #ffffff;
  font-family: 'Poppins reg';
}

/* queries */

@media (max-width: 1300px) {
  

  .hero-img {
    width: 100%;
  }
  
  .contact {
    flex-direction: column;

  }
  .title-contact {
    width: 100%;
    text-align: center;
  }
  .text-contact{
    width: 100%;
  }
}

@media (max-width: 1000px) {
  
  .hero-img {
    width: 100%;
  }
  .about {
      justify-content: center;
      flex-wrap: wrap;
      height: 90vh;
  }
  .about-text {
      width: 70%;
  }
  .about-text h2 {
      font-size: 2em;
  }
  .about-text p {
      font-size: 15px;
  }
  .about-img img {
    box-shadow: none;
}

  .hero-img {
    width: 500px;
  }



}

@media (max-width: 600px) {
  
.hero-img {
  width: 100%;
}

.media {
  margin: 0 2em;
}

  .menuLink {
    font-size: 2em;
  }
  .about {
    height: auto;
  }
  .about-img img {
    width: 350px;
}
  .about-text {
    width: 80%;
}
.about-text h2 {
    font-size: 2em;
}
.about-text p {
    font-size: 15px;
}

.portfolio-main-img {

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.shop-img-container {
  width: 300px;
  margin: 0 auto;
}
.contact {
  flex-direction: column;
  gap: 10px;
  height: auto;
  padding-bottom: 80px;
}
.title-contact {
  text-align: left;
  font-size: 1.5em;
}
.text-contact p {
  font-size: 15px;
}

.text-contact h3 {
  font-size: 17px;
  font-weight: bold;
}

}